<!-- Default form contact -->
<form class="text-center border border-light p-5" [formGroup]="productForm" style="color: #757575;" (ngSubmit)="editProduct()">
    <p class="h4 mb-4">الاصناف</p>
  
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="md-form md-outline">
            <input type="text" id="name" name="name" formControlName="name" class="form-control" mdbInput>
            <label for="name">اسم المنتج</label>
          </div>
        </div>
        <div class="col-6">
            <div class="md-form md-outline">
                <select class="browser-default custom-select" name="varietyId" formControlName="varietyId">
                    <option selected>اختار الصنف</option>
                    <option *ngFor="let option of options" value="{{option.value}}">{{option.label}}</option>
                </select>
                <!-- <label for="name">اختار الصنف</label> -->
                <!-- <mdb-select [options]="options" formControlName="varietyId" placeholder="اختار الصنف" label="الصنف"></mdb-select> -->
            </div>
        </div>
        <div class="col-12">
            <div class="md-form md-outline">
                <textarea type="text" id="description" formControlName="description" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
                <label for="description">وصف المنتج</label>
            </div>
        </div>
        <button mdbBtn type="submit" color="success" rounded="true" rounded="true"  mdbWavesEffect>حـفـظ</button>
        <a routerLink="/dashboard/masterdata/product"><button mdbBtn type="button" color="danger" rounded="true" rounded="true" mdbWavesEffect>إلـغـاء</button></a>
      </div>
    </div>
  </form>          
  <!-- Default form contact -->