<div class="row">
    <div class="col-md-6  mt-5 pt-5 mx-auto" >
        <!-- Material form subscription -->
<mdb-card>

    <mdb-card-header class="info-color white-text text-center py-4">
      <h5>
        <strong>تسجيل الدخول</strong>
      </h5>
    </mdb-card-header>
  
    <!--Card content-->
    <mdb-card-body class="px-lg-5">
  
      <!-- Form -->
      <form class="text-center" [formGroup]="profileForm" style="color: #757575;" (ngSubmit)="onSubmit()">
  
        <!-- E-mai -->
        <div class="md-form ">
          <input type="email" id="materialSubscriptionFormEmail" formControlName="userName" class="form-control text-right" mdbInput>
          <label for="materialSubscriptionFormEmail">اسم المستخدم</label>
        </div>

        <!-- Password -->
        <div class="md-form">
            <input type="password" id="materialLoginFormPassword" formControlName="password" class="form-control text-right" mdbInput>
            <label for="materialLoginFormPassword">كلمة  المرور</label>
        </div>
    
        <!-- Sign in button -->
        <button mdbBtn color="info" outline="true" [disabled]="!profileForm.valid" rounded="true" block="true" class="z-depth-0 my-4 waves-effect" mdbWavesEffect
          type="submit">تسجيل الدخول</button>
  
      </form>
      <!-- Form -->
  
    </mdb-card-body>
  
  </mdb-card>
  <!-- Material form subscription -->
    </div>
</div>